[MESSAGE CONTROL]

disable=missing-module-docstring,missing-function-docstring,missing-docstring,too-few-public-methods,too-many-lines,line-too-long,redefined-builtin,redefined-outer-name,no-name-in-module,duplicate-code,invalid-name
ignore-paths=generate.py,example.py
