[MESSAGE CONTROL]

disable=missing-module-docstring,missing-function-docstring,missing-docstring,too-few-public-methods,too-many-lines,redefined-builtin,redefined-outer-name,no-name-in-module
ignore-paths=generate.py,example.py
