# Model Generated: {{ current_date }}

from __future__ import annotations

from datetime import datetime
from typing import IO, Any, Dict, List, Literal, Mapping, Optional, Sequence, Union, Type

from botocore.response import StreamingBody
from pydantic import Field

from mypydantic.models.base_model import BaseModel
{{ model }}
