# Model Generated: {{ current_date }}

from __future__ import annotations

from datetime import datetime
from decimal import Decimal
from typing import IO, Any, Dict, List, Literal, Mapping, Optional, Sequence, Union, Type, Set, Callable

from boto3.dynamodb.conditions import ConditionBase
from boto3.s3.transfer import TransferConfig
from botocore.client import BaseClient
from botocore.response import StreamingBody
from pydantic import Field

from mypydantic.models.base_model import BaseModel
{{ model }}
